<div>
    <h1>{{title}}</h1>
    <br>
    <table ng-table="employee-Table"class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>First</th>
                <th>Last</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employeeList">
                <th>{{$index+1}}</th>
                <th>{{employee.firstName}} </th>
                <th>{{employee.lastName}}</th>
            </tr>
        </tbody>   
    </table>
    <br>
</div>

