<div class="jumbotron">
  <h2>'Greetings!'</h2>
  <img src="images/yeoman.png" alt="Yeoman">
  <div class="home-paragraph">This is a project where I practice using the following technologies:</div>
  <dl>
    <dt> <a href="https://spring.io/" target="_blank">Spring</a> <i class="fas fa-leaf"></i> </dt>
      <dd>builds back-end production-ready applications</dd>
    <dt><a href="https://swagger.io/" target="_blank">Swagger</a> <i class="fas fa-exchange-alt"></i></dt>
      <dd>consumes RESTful web services</dd>
    <dt><a href="https://angularjs.org/" target="_blank">AngularJS</a> <i class="fab fa-angular"></i></dt>
      <dd>develops front end single-page applications</dd>

  </dl>
</div>
