<div class="jumbotron" style="text-align: center;">
  <h1>'Greetings!'</h1>
  <img src="images/yeoman.png" alt="Yeoman">
  <div class="home-paragraph">This is a project where I practice using the following technologies:</div>
  <dl>
    <dt class="main-links"> <a href="https://spring.io/" target="_blank">Spring</a> <i class="fas fa-leaf"></i> </dt>
      <dd class="main-desc">builds back-end production-ready applications</dd>
    <dt class="main-links"><a href="https://swagger.io/" target="_blank">Swagger</a> <i class="fas fa-exchange-alt"></i></dt>
      <dd class="main-desc">consumes RESTful web services</dd>
    <dt class="main-links"><a href="https://angularjs.org/" target="_blank">AngularJS</a> <i class="fab fa-angular"></i></dt>
      <dd class="main-desc">develops front end single-page applications</dd>

  </dl>
</div>
