body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) and (max-width: 730px) {

}
  
  dt {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  p {
    padding-top: 20px;
  }

  .home-paragraph {
    padding-top: 16px;
    font-size: 14px;
  }

  /* Hides placeholder when the input box is selected */
  input:focus::placeholder{
    color:transparent;
  }

  input {
    text-indent: 20px;
    border-radius: 4px;
  }

  .lastItem {
    margin-bottom: 20px;
  }

  .firstItem {
    padding-top: 20px;
  }

  li {
    padding-bottom: 10px;
  }

  .nav-item {
    font-size: 15px;
    padding-right: 20px;
  }
  
  .card-body {
    
  }

