<div >
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John" pattern="[a-zA-Z]*">
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
        <!-- Index Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Index </th>
            <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
        </ng-container>
    
        <!-- First Name Column -->
        <ng-container matColumnDef="first">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let employees">{{employees.firstName}}</td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="last">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let employees">{{employees.lastName}}</td>
        </ng-container>
    
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let employees">{{employees.employeeTitle}}</td>
        </ng-container>
    
        <!-- Salary Column -->
        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
            <td mat-cell *matCellDef="let employees">{{employees.salary | currency}}</td>
        </ng-container>
    
        <tr *ngIf="!employees || employees.length==0">
            <td colspan="5">
                No employees to display
            </td>
        </tr>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    </table>
    
    <mat-paginator #paginator 
    [length]="dataSource.data.length"
    [pageSize]="10"
    [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
